@page "/"

@using EmployeeDirectory.Core.Enums
@using EmployeeDirectory.Core.Services
@using EmployeeDirectory.Desktop.Components.Navigation
@using Telerik.Blazor
@using Telerik.Blazor.Components
@using Telerik.SvgIcons

@inject IDirectoryService DirectoryService
@inject NavigationManager NavigationManager
@inject LayoutState LayoutState

<PageTitle>Employee Directory</PageTitle>

@* Main navigation menu with large icon-based buttons *@
<div class="home-container">
    <TelerikListView Data="@MenuItems" EnableLoaderContainer="true" Class="home-list">
        <Template Context="item">
            <NavLink href="@item.Path" class="home-link">
                <div class="home-menu-item">
                    <span class="home-menu-label">
                        <TelerikSvgIcon Icon="@item.Icon" Size="@ThemeConstants.SvgIcon.Size.ExtraExtraLarge" Class="home-menu-icon" />
                        @item.Label
                    </span>
                </div>
            </NavLink>
        </Template>
    </TelerikListView>
</div>

<style>
    .home-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--kendo-color-secondary-emphasis);
        border-bottom-width: 4px;
    }

    .home-list {
        background-color: transparent !important;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .home-link {
        flex: 1;
        display: flex;
        text-decoration: none;
        margin: 2px;
    }

    .home-menu-item {
        background-color: #ff6358;
        border-radius: 0.25rem;
        padding: 32px 25px;
        flex: 1;
        display: flex;
        margin: 3px 8px;
        box-sizing: unset;
        transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    }

        .home-menu-item:hover {
            transform: translateY(0) scale(0.95);
            background-color: #FA574B;
        }

    .home-menu-label {
        text-transform: uppercase;
        color: white;
        font-size: x-large;
        font-weight: bold;
    }

    .home-menu-icon {
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .home-container .k-listview {
        background-color: transparent;
    }

    .home-container .k-listview-item {
        padding: 4px 0;
    }
</style>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        LayoutState.SetHeader(CorporateHeadCard);
        LayoutState.SetFooter(FooterNav);
    }

    private HeaderCardModels.HeadInfoCardModel CorporateHeadCard = new()
    {
        Title = "Employee Directory",
        Address = "1500 Hamilton Rd",
        City = "Bossier City",
        State = "LA",
        Zip = "71111",
        Subtitle1 = "Corp. Phone",
        Phone = "(888) 245-3696",
        Subtitle2 = "Corp. Email",
        Email = "info@mcelroymetal.com",
        Subtitle3 = "IT Help Desk",
        Phone2 = "(866) 634-5111"
    };

    private class MenuItem
    {
        public ISvgIcon Icon { get; set; }
        public string Label { get; set; }
        public string Path { get; set; }
        public MenuItem(ISvgIcon icon, string label, string path)
        {
            Icon = icon;
            Label = label;
            Path = path;
        }
    }

    private IEnumerable<MenuItem> MenuItems = new List<MenuItem>()
    {
        new(CustomIcons.Corporate, "Corporate", "/corporate"),
        new(CustomIcons.MetalMart, "Metal Mart", "/metalmart"),
        new(CustomIcons.ServiceCenter, "Service Center", "/servicecenter"),
        new(CustomIcons.Plant, "Plant", "/plant")
    };

    private List<FooterNav.FooterItem> FooterNav => FooterNavigation.HomeSection;
}
